<div class="rounded-md shadow-sm overflow-hidden">
    <button
        (click)="onSelectUser()"
        [class]="'flex flex-row items-center gap-3 cursor-pointer w-full min-w-40 text-left transition ease-in-out color duration-400 px-3 py-2 ' + (selected ? 'bg-[#9965dd] text-[#150722]' : 'bg-[#433352] text-[#c3b3d1] hover:bg-[#9965dd] hover:text-[#150722]')"
    >
        <img
            [src]="user.avatar"
            [alt]="user.name"
            class="h-8 w-8 rounded-full shadow-md"
        />
        <span>{{ user.name }}</span>
    </button>
</div>
