<app-header />
<main class="p-2 flex flex-row gap-8 justify-center mt-6">
    <ul id="users" class="flex flex-col gap-2 max-w-60">
        @for (user of users; track $index) {
        <li>
            <app-user
                [user]="users[$index]"
                [selected]="users[$index].id === selectedUserId"
                (select)="onSelectUser($event)"
            />
        </li>
        }
    </ul>
    <div>
        @if (selectedUserId) {
        <app-tasks [name]="name" [userId]="selectedUserId" />
        } @else {
        <p class="text-gray-500 text-center w-[800px] text-lg font-bold py-40">
            Selecione um usuário para ver suas tarefas
        </p>
        }
    </div>
</main>
